<h2>Update message number {{message?.id}}: </h2>
<form [formGroup] = "msgform" (ngSubmit) = "sendData()">
  <div>
    <label for="message"></label>
    <input type="text" name="message" id="message" class="form-control" formControlName = "message" value="{{message?.body}}">
  </div>
  <div>
    <label for="user"></label>
    <input type="text" name="user" id="user" class="form-control" formControlName = "user" value="{{message?.user_id}}">
  </div>
  <br>
  <input type="submit" value="Send the message" class="btn btn-primary">
</form>
  