<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a href="https://www.coinmama.com/?ref=joni"><img src="https://www.coinmama.com/assets/img/banners/coinmama_72890.jpg"  /></a>
  <navigation></navigation>
 <router-outlet></router-outlet>
</div>
