<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">+
     <ul class="nav navbar-nav">
       <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink="">Messages</a></li>
       <li routerLinkActive = "active current" [routerLinkActiveOptions] = {exact:true}><a routerLink ="/users">Users</a></li>
      </ul> 
    </div>
  </div>
</nav>  